
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --img-size: 50px;
}

img{
  width: 50px;
}

#hours-temperatures{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

#hours-temperatures>div{
  height: 20px;
}

.sun, .moon{
  position: absolute;
  display: none;
}

.sun{
  left: calc(-1 * var(--img-size));
}

.moon{
  right: calc(-1 * var(--img-size));
}


.set-animation-left{
  display: block;
  animation: display-left 1s ease-out forwards;
}

.set-animation-right{
  display: block;
  animation: display-right 1s ease-out forwards;
}

@keyframes display-left {
  to{
    right: 0;
    left: calc(100% - var(--img-size));
  }
}

@keyframes display-right {
  to{
    left: 0;
    right: calc(100% - var(--img-size));
  }
}
